<%password_max_age = Setting.plugin_redmine_account_policy[:password_max_age].to_i.days%>
<h2><%=l(:rap_mail_body_is_expired_header)%></h2>
<%=l(:rap_mail_body_is_expired,
                                name: @user.name,
                                login: @user.login
				)%>
